<!DOCTYPE html>
<html lang="en">
<head>
    <title>About Us</title>
</head>
<body>
    <h1>Cuisins Restaurant</h1>
    <p>

        “We ought to be about something beyond moving chicken. We ought to be a piece of our client’s lives and the networks in which we serve.”
        
        Our originator, settled on the choice to close on Sundays in 1946 when he opened his first eatery in Hapeville, Georgia. Having worked seven days in eateries open 24 hours, Truett saw the significance of shutting on Sundays with the goal that he and his representatives could set aside one day to rest and love whether they pick – a training we maintain today.</p>
</body>
</html>