{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Admin Login</title>
    <link rel="stylesheet" href="{% static 'styles/adminlogin.css' %}" />
</head>
<body>
    <div class="container">
        
        <h1>Sign In</h1>
        <form method="post">
            {% csrf_token %}
            <div class="form-control">
                <input class="adm-usrname" type="text" name="username"/>
                <label>Your Username</label>
            </div>
            <div class="form-control">
                <input class="adm-paswd" type="password" name="password" />
                <label>Your Password</label>
            </div>
            <a href="adminhome.html"><button class="signin-btn">Sign In</button></a>
            <p class="text">New Admin?Click Here
                <a href="#">Register</a>
            </p>
        </form>
    </div>
    
</body>
</html>
<script>
    const labels=document.querySelectorAll(".form-control label");

    labels.forEach((label) => {
        label.innerHTML=label.innerText
        .split("")
        .map(
            (letter,idx) =>
            `<span style="transition-delay:$(idx * 50)ms">${letter}</span>`
        )
        .join("");
    })
    
</script>