{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Order Status</title>
    <link rel="stylesheet" type="text/css" href="{% static '/styles/order_status.css' %}">
</head>
<body>
    <div class="window">
        <div class="container">
            <div class="statusinfo">
                <div class="slbl">
                    Status
                    <div class="sfield">Status</div>
                </div>
                
                <div class="tlbl">
                    Time    
                    <div class="tfield">{{orders.waiting_time}} </div>
                </div>
                <div class="refreshbtn">
                    <button onclick="window.location.reload();">Refresh</button>
                </div>
            </div>
        </div>
        <h2>Your items...</h2>
        <div class="itemstable">
            <table>
                <tr>
                    <td></td><td>Dosa</td><td>50</td>
                </tr>
            </table>
        </div>
    </div>
    
    <footer class="footer">
        <div class="price">
            Total Price:
            <div class="ttlprice">
                {{orders.total_amount}}
            </div>
        </div>
        
        <a href="#"><button class="payhere-btn">Pay Here</button></a>
    </footer>
</body>
</html>