{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>User Catalog</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/user_catalog.css' %}?v=1">
    <script src="{% static 'js/user_catalog.js' %}" defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div class="catalog">
        <div class="header">
            <p class="resName">Welcome to <span>Vernick Food & Drink</span></p>
            <div class="header-menu">
                <a href="{% url 'home' %}">Home</a>
                <a href="{% url 'about' %}">About Us</a>
                <a href="#">Contact</a>
    
                <button class="reserveBtn" type="button">Reserve Table</button>
            </div>
            
        </div>
            <div class="mainSection">
                <div class="categories">
                    <button class="cat-btn" type="button"  href="#">All</button>
                    <button class="cat-btn"  type="button" href="#" >Starters</button>
                    <button class="cat-btn"  type="button" href="#">Main Course</button>
                    <button class="cat-btn"  type="button" href="#">Drinks</button>
                    <button class="cat-btn"  type="button" href="#">Deserts</button>
                    <button class="cat-btn"  type="button" href="#">Snacks</button>
                </div>
                <div class="menuItems">
                    {% for item in items %}
                    <div class="dishDetails">
                        <div class="itemTitle">
                            <p class="itemName">{{ item.item_name }}</p>
                            <p class="itemPrice">${{ item.item_price}}</p>
                        </div>
                        <p class="itemDesc">{{item.item_desc}}</p>
                        <div class="wrapper">
                            <p class="qtyText">Qty:</p>
                            <button class="minus" type="button">-</button>
                            <p class="qunty">1</p>
                            <button class="plus" type="button">+</button>
                        </div><br>
                        
                        <button class="add-btn" type="button" >+Add</button>
                        <button class="deleteButton"><i class="fa fa-trash-can deleteIcon" style="font-size: 15px; display: none;"></i></button>
                    </div>
                    {% endfor %}
                </div>
                
            </div>
    
            <footer class="footer">
                <div class="pricingArea">
                    <div class="priceTags">
                        <p class="totalPriceText">Total Bill:</p>
                        <p id="priceDisplay" class="totalPriceValue">$0</p>
                    </div>
                    <a href="{% url 'order_status' %}"><button id="confirmOrderBtn" class="confirmOrderBtn" type="button">Place order</button></a>
    
                </div>
            </footer>
        </div>
        
    </div>
</body>
</html>
