{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>User Catalog</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/user_catalog.css' %}">
     
</head>
<body>
    <div class="banner-img">
        <header class="header">
            <div class="Heading"><h1><span id="order_text"> Order</span> Your Food!</h1></div>
            
            <div class="menu_links">
                <a href="{% url 'home' %}">Home</a>
                <a href="{% url 'about' %}">About Us</a>
                <a href="#">Contact</a>

                <button class="res-now-btn">Reserve Now</button>
            </div>
            
        </header>
        <br>
        
    </div>
    <div class="menu">
        <div class="categories">
            <div class="dropdown">
                <a class="drpname" href="#">All</a>
                <div class="drp-content">
                    <a href="#">Veg</a>
                    <a href="#">Non-Veg</a>
                </div>
            </div>
            
            <a href="#" >Starters</a>
            <a href="#">Main Course</a>
            <a href="#">Drinks</a>
            <a href="#">Deserts</a>
            <a href="#">Snacks</a>
        </div>
        <br>

        <div class="items-container">
            <h1 style="color: green;font-size:50px; border-bottom:-30px; ">Menu</h1>
            <table class="items-table" >
                <tr>
                    <th>Item</th><th>Description</th><th>Price</th><th>Quantity</th><th>Order</th>
                </tr>
                {% for item in items %}
                <tr>
                    <div class="row">
                        <td>{{item.item_name}}</td><td>{{item.item_desc}} </td><td class="price">${{item.item_price}} </td>
                        <td>
                            <div class="wrapper">
                                <span class="minus"><span>-</span></span>
                                <span class="num"></span>
                                <span class="plus"><span>+</span></span>
                            </div>
                        </td>
                        <td><button class="add-btn">+Add</button></td>
                    </div>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>

    <footer class="footer">
        <label class="total_price-lbl">Total Price:</label><input class="total_price" type="text" name="total_price" value={{orders.total_amount}}  readonly>
        <a href="{% url 'order_status' %}"><button class="place-odr-btn">Place order</button></a>

    </footer>
    
</body>
</html>
<script>
const plus=document.getElementsByClassName('plus');
const minus=document.getElementsByClassName('minus');
const num=document.getElementsByClassName('num');
num.innerHTML=1;
update=(n) =>{
    num.innerHTML=(n<10 && n>0) ? `${n}` : n;
}

let a=1;
plus.addEventListener('click',() => update(++a));
minus.addEventListener('click',() => update(--a));
console.log(a)
</script>